{% extends "base.html" %}

{% block nav_item_seller %}
{% if role == 'seller' %}
active
{% endif %}
{% endblock nav_item_seller %}

{% block nav_item_buyer %}
{% if role == 'buyer' %}
active
{% endif %}
{% endblock nav_item_buyer %}

{% block content %}

    {% if role == "seller" %}
    <h1> My Seller Listings </h1>
    {% else %}
    <h1> My Buyer Listings </h1>
    {% endif %}

    <!-- https://www.w3schools.com/howto/howto_js_sort_table.asp -->
    
        <table id="table" class="item_table">
            <tr>
                <th> </th>
                <th onclick="sortTable(0)"> Item </th>
                <th onclick="sortTable(1)"> Price </th>
                <th onclick="sortTable(2)"> Bids </th>
                <th onclick="sortTable(3)"> End Time </th>
                {% if role == "seller" %}
                <th> Action </th>
                {% endif %}
            </tr>

            {% for listing in listings %}

            <tr> 
                <td>  <!-- Item Picture -->
                        <a href="/auction/{{ listing['auction_id'] }}">
                            <img src="../../static/auction_default.JPG" style="height: 150px; padding: 3px;">
                        </a>
                </td>
                <td> <!-- Item Name -->
                    <a href="/auction/{{ listing['auction_id'] }}">
                        <h3> {{ listing['auction_id'] }} </h3>
                    </a>
                </td>
                <td> <!-- Item Price -->
                    <h3> ${{ listing['currPrice'] | round(2, 'common') }} </h3>
                </td>
                <td> <!-- Bids -->
                    <h3> {{ listing['bid_history'] | length }} </h3>
                </td>
                <td> <!-- Listing end time -->
                    <h3> {{ listing['end_time'] | format_timestamp }} </h3>
                </td>
                <td>
                {% if role == "seller" %}
                    <form action="{{ url_for('end_auction' )}}" method="post">
                        <input type="hidden" name="auction_id" value="{{ listing['auction_id'] }}">
                        <input type="submit" value="End Auction" {% if (listing['bid_history'] | length) > 0%} disabled {% endif %}> 
                    </form>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    

{% endblock %}