{% extends "base.html" %}
{% block nav_item_admin %}active{% endblock nav_item_admin %}

{% block content %}
    <h1> Admin Control Page </h1>
    <ul>
        <li> <a href="/admin/auctions"> Edit Auction </a> </li>
        <li> <a href="/admin/users"> User Access </a> </li>
        <li> <a href="/admin/categories"> Edit Auction Categories </a> </li>
        <li> <a href="/admin/flagged_items"> View Flagged Items </a></li>
        <li> <a href="/admin/email"> Email Inbox </a></li>
        <li> <a href="/admin/metrics"> View Listing Metrics </a> </li>
    </ul>

    <h3> Active Listings </h3>
    <table id="table" class="item_table">
        <tr>
            <th> </th>
            <th onclick="sortTable(0)"> Item </th>
            <th onclick="sortTable(1)"> Price </th>
            <th onclick="sortTable(2)"> End Time </th>
        </tr>

        {% for listing in active_listings %}
        <tr> 
            <td>  <!-- Item Picture -->
                    <a href="/auction/{{ listing['auction_id'] }}">
                        <img src="../static/auction_default.JPG" style="height: 150px; padding: 3px;">
                    </a>
            </td>
            <td> <!-- Item Name -->
                <a href="/auction/{{ listing['auction_id'] }}">
                    <h3> {{ listing['item_name'] }} </h3>
                </a>
            </td>
            <td> <!-- Item Price -->
                <h3> ${{ listing['price'] }} </h3>
            </td>
            <td> <!-- Listing end time -->
                To Do
            </td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}