{% extends "base.html" %}
{% block content %}
    <h1> Admin Control Page - Auction Modifications</h1>
    <form action="{{ url_for("admin_edit_auctions" )}}" method="post">
        <label for="auction_id">auction_id:</label>
        <input type="text" id="auction_id" name="auction_id" required><br>

        <label for="action">Action:</label>
        <select name="action" id="action" required>
            <option value="End">End</option>
        </select> <br>
        
        <input type="submit" value="Submit">
      </form>

{% endblock %}