{% extends "base.html" %}
{% block content %}
    <h1> Admin Control Page - User Access Modifications</h1>
    <form action="{{ url_for("admin_edit_users" )}}" method="post">
        <label for="account_id">account_id:</label>
        <input type="text" id="account_id" name="account_id" required><br>

        <label for="action">Action:</label>
        <select name="action" id="action" required>
            <option value="Suspend">Suspend</option>
            <option value="Activate">Make_Active</option>
            <option value="Delete">Delete</option>
            <option value="Make_Admin">Make Admin</option>
        </select> <br>
        
        <input type="submit" value="Submit">
      </form>

{% endblock %}