{% extends "base.html" %}
{% block content %}

    <h1> Auction {{listing_id}}</h1>

    <div class="split_page">
        <div class = "auction_image" style="height: 300px; width: 15%;"> 
            <img src="../static/auction_default.JPG" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="auction_details">
            <h2> Item Name </h2>
            <h4> Auction End time </h4>
            <h4> Price </h4>
            
            {% if listing_type == "auction" %}
            <form> <!-- ToDo - Add action for bid submit action="/action_page.php" -->
                <label for="bid">Bid:</label>
                <input type="number" id="bid" name="bid" min="0.01" max="1000000" step="0.01"> <!-- ToDo set min bid based on current value-->
                <input type="submit" value="Submit">
            </form>
            {% else %}
            <form> <!-- ToDo - Add action for bid submit action="/action_page.php" -->
                <label for="bid">Buy It Now:</label>
                <input type="submit" value="Add to Cart">
            </form>
            {% endif %}

            
            <p> Additional details about the item here </p>
        </div>
    </div>
    <div>
        <a href="/reportItem?listing_id={{ listing_id }}">Report this Item</a>
    </div>

{% endblock %}