<!doctype html>
<html>
    <head>
        <!-- CSS Stylesheet -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
        <!-- JS Functions -->
        <script src="{{ url_for('static', filename='base.js' )}}"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/cart">Shopping Cart</a>
            <a href="/watchlist">Watchlist</a>
            {% if session['login'] == true %}
            <a href="/account">Account</a>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/create/account">Create Account</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>