<p>Enter User Information:</p>

<form action="{{ url_for("createAccount" )}}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="John Doe"><br></br>
    <label for="email">Email (username):</label><br>
    <input type="text" id="email" name="email" placeholder="johndoe@gmail.com"><br></br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br></br>
    <!-- <label for="verify_password">Verify Password:</label><br>
    <input type="password" id="verify_password" name="verify_password"><br></br> -->
    <input type="submit" value="Submit">
  </form>