{% extends "base.html" %}
{% block content %}

    <h1> eBay Home Page </h1>

    <div class="auction_container">
        <div style="width: 35%;">
            <h3>Welcome userid {{ user }} </h3>
            Log in value {{session['login']}}
            session test {{session['username']}}
        </div>
        <div style="flex-grow: 1;">
            <form> <!-- ToDo: action="{{ url_for("login" )}}" method="post" -->
                <input type="text" class="search_bar_text" placeholder="What are you looking for?">
                <input type="submit" class="search_bar_button" value="Search">
            </form>
        </div>
    </div>

    {% for listing in active_listings %}
        <div class="auction_container">
            <div class = "auction_image"> 
                <a href="/auction/{{ listing['auction_id'] }}"> <!-- ToDo: Link this based on auction_id -->
                    <img src="../static/auction_default.JPG" style="max-width: 100%; max-height: 100%;">
                </a>
            </div>
            <div class="auction_details">
                <a href="/auction/{{ listing['auction_id'] }}"> <!-- ToDo: Link this based on auction_id -->
                    <h3> {{ listing['item_name'] }} </h3>
                </a>
                <h4> ${{ listing['price'] }} </h4>
            </div>
        </div>
    {% endfor %}
    

{% endblock %}