{% extends "base.html" %}
{% block content %}

    <h1> eBay Home Page </h1>

    <!-- Search Bar -->
    <div class="split_page">
        <div style="width: 35%;">
            <h3>Token {{ token }} </h3>
        </div>
        <div style="flex-grow: 1;">
            <!-- <form action="{{ url_for('index' )}}" method="get"> -->
            <form action="{{ url_for('index' )}}" method="get"> <!-- ToDo: -->
                <input type="text" class="search_bar_text" id="search_terms" name="search_terms" placeholder="What are you looking for?">
                <input type="submit" class="search_bar_button" value="Search">
            </form>
        </div>
    </div>
    
    <h3> {{ page_subtitle }} </h3>

    <!-- https://www.w3schools.com/howto/howto_js_sort_table.asp -->
    <table id="table" class="item_table">
        <tr>
            <th> </th>
            <th onclick="sortTable(0)"> Item </th>
            <th onclick="sortTable(1)"> Price </th>
            <th onclick="sortTable(2)"> Bids </th>
            <th onclick="sortTable(3)"> End Time </th>
        </tr>

        {% for listing in listings %}
        <tr> 
            <td>  <!-- Item Picture -->
                    <a href="/auction/{{ listing['auction_id'] }}">
                        <img src="../static/auction_default.JPG" style="height: 150px; padding: 3px;">
                    </a>
            </td>
            <td> <!-- Item Name -->
                <a href="/auction/{{ listing['auction_id'] }}">
                    <h3> {{ listing['name'] }} </h3>
                </a>
            </td>
            <td> <!-- Item Price -->
                <h3> ${{ listing['currPrice'] }} </h3>
            </td>
            <td> <!-- Bids -->
                <h3> {{ listing['num_bids'] }} </h3>
            </td>
            <td> <!-- Listing end time -->
                To Do
            </td>
        </tr>
        {% endfor %}

    </table>
    

{% endblock %}